
.icon-search:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-up-open-1:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-flash-1:before { content: '\e806'; } /* '' */
.icon-play-circled2:before { content: '\e807'; } /* '' */
.icon-resize-full:before { content: '\e808'; } /* '' */
.icon-sending-mail:before { content: '\e845'; } /* '' */
.icon-paper:before { content: '\e846'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */